.questionnaire-assessment-view-wrapper {
    display: flex;
    justify-content: center;
}

.questionnaire-assessment-view-container {
    width: min(100%, 30rem);
    margin: 5rem;

}
.questionnaire-category{
    /*font-size: 1rem;*/
    /*font-weight: bold;*/
    margin-bottom: 1rem;

}

.question-answers {
    display: flex;
    flex-direction: column;
}

.questionnaire-assessment-select-btn.active {
    color: #fff;
    background-color: #00a7e1;
}

.questionnaire-assessment-next-btn {
    height: 3.33em;
    margin-top: 1rem;
    border: 0;
    border-radius: .4rem;
    background-color: #00a7e1;
    color: #fff;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

.questionnaire-assessment-next-btn:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.questionnaire-assessment-select-btn {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    border-radius: .4rem;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.questionnaire-assessment-select-btn + .questionnaire-assessment-select-btn {
    margin-top: .5rem;
}

.question-title {
    font-family: 'Raleway', sans-serif;
    font-size: 1.7rem;
    margin: 0 0 .5rem;
}

.test-result-container{
    width: 50%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
    margin: 4rem auto;
}

.test-result-container p {
    margin: 10px 0;
}

.test-result-container p:first-child {
    font-weight: bold;
    font-size: 18px;
}

.warning {
    color: #e74c3c; /* Red color for warnings */
}

.success {
    color: #2ecc71; /* Green color for success */
}

